* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-grey-light-1:#D1DADB;

    --color-white-1:#FFFFFF;

    --color-gray-dark-1:#555555;

    --color-pink-1:#EF5194;

    --color-yellow-1:#D1CA41;
    --color-orange-1:#F99846;
}

html, body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-image: url("images/backgrounds/BG1.png");
    position: relative;
    height: 100%;
}

ul {
    list-style-type: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/*.welcome {*/
/*    font-size: 60px;*/
/*    !*font-weight: bold;*!*/
/*}*/

/* HEADER */
header {
    max-width: 1660px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    display: flex;
    /*font-weight: bold;*/
    justify-content: space-between;
    flex-direction: row;
}

.small-logo-container {
    display: flex;
    max-width: 10%;
    max-height: 10%;
    padding: 20px;
    /*margin-right: 500px;*/
}

.small-logo {
    width: 100%;
    min-width: 120px;
    flex-shrink: 0;
    flex-grow: 0;
}

nav {
    display: flex;
    align-items: stretch;
    padding: 20px;
}

.navbar-list {
    display: flex;
    gap: 20px;
}

.navbar-list-item-active {
    color: #D1CA41;
    text-decoration: underline;
}

.navbar-list-item:hover {
    color: #D1CA41;
}

/*.menu {*/
/*    display: none;*/
/*}*/

/*.menu-line {*/
/*    width: 20px;*/
/*    height: 3px;*/
/*    background-color: #D1CA41;*/
/*    margin-bottom: 5px;*/
/*}*/

@media all and (max-width: 675px) {
    header {
        flex-direction: column;
    }

    nav {
        /*border-top: 1px solid #EF5194;*/
        /*border-bottom: 1px solid #D1CA41;*/
        align-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
    }

    .small-logo-container {
        align-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
    }

    .navbar-list {
        /*flex-direction: column;*/
    }

    .navbar-list-item, .navbar-list-item-active {
        /*border-top: 1px solid #D1CA41;*/
    }
    /*.menu {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    position: absolute;*/
    /*    right: 15px;*/
    /*    !*top: 15px;*!*/
    /*}*/
}






/* MAIN */
/*home*/
main {
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.large-logo {
    max-width: 500px;
    max-height: 500px;
}

.main-image-container {
    display: flex;
    margin: 40px;
}

.home-content-container, .about-content-container, .faqs-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    gap: 20px;
}



.page-heading {
    font-size: 50px;
}

.page-shop-heading {
    font-size: 25px;
    font-weight: bold;
}

.shop-button-1 {
    width: 110px;
    height: 40px;
    background-color: #EF5194;
    color: #FFFFFF;
    font-size: 18px;
    /*font-weight: bold;*/
    border-radius: 25px;
    border: solid 1px;
    font-family: outfit;
}

.shop-button-2 {
    width: 110px;
    height: 40px;
    background: transparent;
    color: #EF5194;
    border-radius: 25px;
    border: solid 1px;
    /*font-weight: bold;*/
    font-family: outfit;
}

.main-faqs {
    display: flex;
    justify-content: space-evenly;
}

.main-contact {
    display: flex;
    justify-content: space-evenly;
}

.question-container {
    font-weight: bold;
}

.main-shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.shop-heading {
    margin-left: 20px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
}

.rex-items-container, .frank-items-container {
    display: flex;
    flex-direction: column;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop-item-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 300px;
    max-height: 344px;
}

.item-name {
    padding: 2px;
    font-weight: bold;
}

.item-price {
    padding: 2px;
    color: #F99846;
}

.main-shop, .main-order {
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
    display: flex;
    justify-content: space-evenly;
}

.shop-text-container {
    width: 110px;
    height: 40px;
    /*background-color: #EF5194;*/
    color: #FFFFFF;
    border-radius: 25px;
    border: solid 1px;
    font-family: outfit;
}

.page-text-colored {
    display: flex;
    /*justify-content: center;*/
    color: #F99846;
}

.item-input {
    width: 110px;
    height: 30px;
    /*background-color: #EF5194;*/
    /*color: #FFFFFF;*/
    background: transparent;
    border-radius: 10px;
    padding-left: 10px;
    border: solid 1px #D1DADB;
    font-family: outfit;
}

.item-specs {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
}

.shop-button-container-2 {
    display: flex;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 400px;
    height: 30px;
    background: transparent;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border: solid 1px #D1DADB;
    font-family: outfit;
    font-size: 16px;
}

.form-input-address {
    width: 400px;
    height: 120px;
    background: transparent;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border: solid 1px #D1DADB;
    font-family: outfit;
    font-size: 16px;
}

.form-input-message {
    width: 400px;
    height: 120px;
    background: transparent;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border: solid 1px #D1DADB;
    font-family: outfit;
    font-size: 16px;
}

.send-button-container {
    display: flex;
    justify-content: flex-end;
}

.send-button {
    width: 80px;
    height: 35px;
    background-color: #EF5194;
    color: #FFFFFF;
    font-size: 16px;
    /*font-weight: bold;*/
    border-radius: 25px;
    border: solid 1px;
    font-family: outfit;
}

.pay-gcash-container {
    display: flex;
}

.pay-container {
    display: flex;
    flex-direction: column;
    width: 280px;

}

.pay-instructions {
    list-style-position: inside;
}

.gcash-container {
    display: flex;
    /*max-width: 100px;*/
    /*max-width: 30%;*/
}

.gcash-image {
    /*max-width: 100px;*/
    flex-shrink: 0;
    flex-grow: 0;
    max-height: 170px;
    max-width: 170px;
}

.send-button-container-order {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-bottom: 40px;
}

.colored-text {
    color: #EF5194;
}

/*.transaction-text {*/
/*    margin-top: 40px;*/
/*}*/


@media screen and (max-width: 675px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .main-image-container {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .home-content-container, .about-content-container{
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .home-button-container {
        display: flex;
        margin-left: 80px;
        margin-right: 80px;
        justify-content: center;
        margin-bottom: 40px;
    }

    .page-heading {
        display: flex;
        justify-content: center;
        margin-right: 80px;
        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }

    .page-text {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-text-colored {
        display: flex;
        justify-content: center;
        color: #F99846;
    }

    .question-container {
        font-weight: bold;
        text-align: center;
    }

    .answer-container {
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .item-specs {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .page-shop-heading {
        text-align: center;
    }

    .shop-text-container {
        justify-content: center;
        align-self: center;
    }

    .shop-button-container {
        align-self: center;
    }

    .shop-button-container-2 {
        align-self: center;
    }

    /*.form-container {*/
    /*    align-items: center;*/
    /*}*/
    .home-content-container {
        align-items: center;
    }

    .form-input-message {
        height: 300px;
    }

    .send-button-container {
        margin-top: 40px;
    }

    .home-description-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .send-button-container-order {
        padding: 0;
    }

    .pay-gcash-container {
        flex-direction: column;
    }

    .gcash-container {
        justify-content: center;
        margin-top: 40px;
    }

    .transaction-text {
        text-align: center;
    }
}






/* STICKY FOOTER */
.footer-gray-color{
    background-color: #D1DADB;
    color: #FFFFFF;
    /*height: 120px;*/
}

.footer-green-color{
    background-color: #D1CA41;
    color: #FFFFFF;
    /*height: 120px;*/
}

.push {
    background-image: url("images/backgrounds/BG1.png");
}

/*.wrapper {*/
/*    min-height: 100%;*/
/*    height: auto; !important;*/
/*    height: 100%;*/
/*    margin: 0 auto -120px;*/
/*}*/

.footer-container {
    max-width: 1660px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

/*.copyright, .image-container, .newsletter-container{*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*    !*margin-top: auto;*!*/
/*    !*margin-bottom: 20px;*!*/
/*    align-items: flex-end;*/
/*}*/

.copyright-container {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.image-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.newsletter-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.instagram-container, .facebook-container, .shopee-container {
    display: flex;
    /*max-width: 10%;*/
    /*max-height: 10%;*/
    /*padding: 20px;*/
    margin: 5px;
}

.social-logo {
    width: 100%;
    max-width: 25px;
    flex-shrink: 0;
    flex-grow: 0;
}

.input-button-container {
    display: flex;
    padding-top: 10px;
}

.email-textbox-gray {
    height: 40px;
    background-color: #D1DADB;
    text-indent: 10px;
    border-radius: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    color: #FFFFFF;
}

.email-button-gray {
    background-color: #FFFFFF;
    color: #D1DADB;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    border-style: none;
    font-family: outfit;
}

.email-textbox-green {
    height: 40px;
    background-color: #D1CA41;
    text-indent: 10px;
    border-radius: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    color: #FFFFFF;
}

.email-button-green {
    background-color: #FFFFFF;
    color: #D1CA41;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    border-style: none;
    font-family: outfit;
}

.newsletter-email {
    padding-right: 10px;
}

.newsletter-button {
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 675px) {
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .copyright-container {
        display: flex;
        justify-content: center;
        margin: 20px;
        order: 3;
    }

    .image-container {
        display: flex;
        justify-content: center;
        margin: 20px;
        order: 1;
    }

    .newsletter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        order: 2;
    }

    .input-button-container {
        display: flex;
    }
}


